/* SCSS Document */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 1.5;
  background-color: #fdfdfd;
  min-height: 100%;
  position: relative; }
  body a {
    color: orange;
    text-decoration: none; }
  body a:hover, body a:focus {
    color: #3397db; }
  body header nav {
    width: 100%;
    height: 80px;
    background-color: #252831;
    text-align: center;
    padding: 10px; }
    body header nav h1 {
      margin: auto; }
      body header nav h1 a {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 200;
        letter-spacing: 10px;
        text-transform: uppercase; }
  body header #breadcrumb {
    padding: 10px 40px 15px;
    list-style: none;
    background-color: #eee;
    font-size: 10px;
    margin: 0;
    width: 100%; }
    body header #breadcrumb li {
      display: inline; }
      body header #breadcrumb li a {
        color: #0275d8;
        text-decoration: none; }
      body header #breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline; }
    body header #breadcrumb li + li:before {
      padding: 8px;
      color: black;
      content: "/\00a0"; }
  body #maincontent {
    height: calc(100vh - 160px);
    position: relative; }
    body #maincontent #map-container {
      height: 50%; }
      body #maincontent #map-container #map {
        height: 100%;
        width: 100%;
        background-color: #ccc; }
    body #maincontent .filter-options {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 200px;
      padding: 0 20px;
      background-color: #3397DB;
      z-index: 500; }
      body #maincontent .filter-options h3 {
        color: white;
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 1;
        margin: 30px 0; }
      body #maincontent .filter-options select {
        display: block;
        background-color: white;
        border: 1px solid #fff;
        font-family: Arial,sans-serif;
        font-size: 12px;
        height: 40px;
        margin: 30px 0;
        padding: 10px;
        width: 100%; }
    body #maincontent #restaurants-list {
      background-color: #f3f3f3;
      margin: 0;
      padding: 0 0 0 30px;
      width: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-line-pack: start;
          align-content: flex-start;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      height: 50%;
      overflow-x: scroll; }
      body #maincontent #restaurants-list article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        background-color: #fff;
        border: 2px solid #ccc;
        font-family: Arial, sans-serif;
        height: 80%;
        width: 270px;
        margin: 15px;
        padding: 25px; }
        body #maincontent #restaurants-list article .restaurant-img {
          display: block;
          margin: 0;
          max-width: 100%;
          min-width: 100%; }
        body #maincontent #restaurants-list article h2 {
          color: #f18200;
          font-family: Arial,sans-serif;
          font-size: 1.3rem;
          font-weight: 200;
          margin: 20px 0 10px;
          text-transform: uppercase; }
        body #maincontent #restaurants-list article p {
          margin: 0; }
        body #maincontent #restaurants-list article a {
          background-color: orange;
          border-bottom: 3px solid #eee;
          color: #fff;
          display: inline-block;
          margin: auto 0 0;
          padding: 8px 30px 10px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase; }
      body #maincontent #restaurants-list .spacer {
        width: 30px;
        height: 100%;
        background: transparent none; }
  body.inside #maincontent {
    height: calc(100vh - 200px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px; }
    body.inside #maincontent #map-container {
      height: 50%;
      width: 35%;
      padding: 20px;
      margin: 61px 0 0; }
      body.inside #maincontent #map-container #map {
        height: 100%;
        width: 100%;
        background-color: #ccc; }
    body.inside #maincontent #restaurant-container {
      border-bottom: 1px solid #d9d9d9;
      border-top: 1px solid #fff;
      padding: 20px;
      width: 65%;
      height: 60%;
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      body.inside #maincontent #restaurant-container #restaurant-name {
        color: #f18200;
        font-family: Arial,sans-serif;
        font-size: 1.3rem;
        font-weight: 200;
        letter-spacing: 5px;
        margin: 0 0 30px;
        text-transform: uppercase;
        width: 60%; }
      body.inside #maincontent #restaurant-container #restaurant-img {
        width: 60%;
        height: auto; }
      body.inside #maincontent #restaurant-container #restaurant-cuisine {
        background-color: #333;
        color: #ddd;
        font-weight: 300;
        letter-spacing: 10px;
        margin: 0 0 20px;
        padding: 2px 0;
        text-align: center;
        text-transform: uppercase;
        width: 60%; }
      body.inside #maincontent #restaurant-container #restaurant-address {
        width: 40%;
        margin: 61px 0px 10px; }
      body.inside #maincontent #restaurant-container #restaurant-hours {
        width: 40%; }
        body.inside #maincontent #restaurant-container #restaurant-hours tr td {
          color: #666; }
    body.inside #maincontent #reviews-container {
      border-bottom: 1px solid #d9d9d9;
      border-top: 1px solid #fff;
      padding: 20px;
      width: 100%;
      height: 40%; }
      body.inside #maincontent #reviews-container h2 {
        width: 100%; }
      body.inside #maincontent #reviews-container #reviews-list {
        width: 100%;
        height: calc(100% - 30px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        overflow-y: scroll; }
        body.inside #maincontent #reviews-container #reviews-list article {
          background-color: #fff;
          border: 2px solid #f3f3f3;
          display: block;
          padding: 0 20px 20px;
          margin: 20px 0;
          position: relative;
          width: 48%; }
          body.inside #maincontent #reviews-container #reviews-list article p {
            margin: 0 0 10px; }
  body #footer {
    width: 100%;
    height: 80px;
    background-color: #252831;
    text-align: center;
    color: #fff;
    padding: 10px; }
    body #footer a {
      font-weight: 200;
      text-transform: uppercase; }
