@charset "utf-8";
/* SCSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;

	&:focus {
		outline: purple solid 2px;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
	background-color: #fdfdfd;
	min-height: 100%;
  position: relative;

	a {
	  color: orange;
	  text-decoration: none;
	}

	a:hover, a:focus {
	  color: #3397db;
	}

	header {
		nav {
			width: 100%;
		  height: 80px;
		  background-color: #252831;
		  text-align: center;
			padding: 10px;

			h1 {
				margin: auto;

				a {
					color: #fff;
				  font-size: 1.5rem;
				  font-weight: 200;
				  letter-spacing: 10px;
				  text-transform: uppercase;
				}
			}
		}

		#breadcrumb {
			padding: 10px 40px 15px;
		  list-style: none;
		  background-color: #eee;
		  font-size: 10px;
		  margin: 0;
		  width: 100%;

			li {
			  display: inline;

				a {
					color: #0275d8;
					text-decoration: none;
				}

				a:hover {
				  color: #01447e;
				  text-decoration: underline;
				}
			}

			li + li:before {
			  padding: 8px;
			  color: black;
			  content: "/\00a0";
			}
		}
	}

	#maincontent {
		height: calc(100vh - 160px);
		position: relative;
		max-width: 1200px;
		margin: 0 auto;

		#map-container {
			height: 50%;

			#map {
				height: 100%;
			  width: 100%;
			  background-color: #ccc;
				border: 2px solid #ccc;

				&:focus {
					border-color: purple;
				}
			}
		}

		.filter-options {
			position: absolute;
			top: 50px;
			right: 50px;
			width: 200px;
			padding: 0 20px;
		  background-color: #3397DB;
			z-index: 500;

			h3 {
				color: white;
			  font-size: 1.2rem;
			  font-weight: normal;
			  line-height: 1;
			  margin: 30px 0;
			}

			select {
				display: block;
				background-color: white;
			  border: 1px solid #fff;
			  font-family: Arial,sans-serif;
				font-size: 12px;
			  height: 40px;
			  margin: 30px 0;
			  padding: 10px;
			  width: 100%;
			}
		}

		#restaurants-list {
			background-color: #f3f3f3;
		  margin: 0;
		  padding: 0 0 0 20px;
			width: auto;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-content: flex-start;
			flex-wrap: wrap;
			height: 50%;
		  overflow-x: scroll;

			article {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				background-color: #fff;
			  border: 2px solid #ccc;
			  font-family: Arial, sans-serif;
				height: 80%;
				width: 15%;
				max-width: 300px;
				margin: 15px;
			  padding: 20px;

				.restaurant-img {
					display: block;
				  margin: 0;
				  max-width: 100%;
				}

				h2 {
					color: #f18200;
				  font-family: Arial,sans-serif;
				  font-size: 1.3rem;
				  font-weight: 200;
				  margin: 20px 0 10px;
				  text-transform: uppercase;
				}

				p {
					margin: 0;
				}

				a {
					background-color: orange;
				  border-bottom: 3px solid #eee;
				  color: #fff;
				  display: inline-block;
				  margin: auto 0 0;
				  padding: 8px 30px 10px;
				  text-align: center;
				  text-decoration: none;
				  text-transform: uppercase;
				}
			}

			.spacer {
				width: 20px;
    		height: 100%;
    		background: transparent none;
			}
		}
	}

	&.inside #maincontent {
		height: calc(100vh - 200px);
		display: flex;
		flex-wrap: wrap;
		padding: 20px;

		#map-container {
			height: 50%;
			width: 40%;
			padding: 73px 20px 20px;
			margin: 0;
			border-bottom: 1px solid #d9d9d9;

			#map {
				height: 100%;
				width: 100%;
				background-color: #ccc;
			}
		}

		#restaurant-container {
			border-bottom: 1px solid #d9d9d9;
			padding: 20px;
			width: 60%;
			height: 50%;
			order: -1;
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;

			#restaurant-name {
				color: #f18200;
				font-family: Arial,sans-serif;
				font-size: 1.3rem;
				font-weight: 200;
				letter-spacing: 5px;
				margin: 0 0 30px;
				text-transform: uppercase;
				width: 100%;
			}

			.restaurant-content {
				width: 50%;
				max-height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;

				#restaurant-img {
					width: 100%;
					height: auto;
				}

				#restaurant-cuisine {
					background-color: #333;
					color: #ddd;
					font-weight: 300;
					letter-spacing: 10px;
					margin: 0;
					padding: 0;
					text-align: center;
					text-transform: uppercase;
					width: 100%;
				}

				#restaurant-address {
					width: 100%;
					margin: 0 20px 10px;
				}

				#restaurant-hours {
					width: 100%;
					margin: 0 20px 10px;

					tr {
						td {
							color: #666;
						}
					}
				}
			}
		}

		#reviews-container {
			border-bottom: 1px solid #d9d9d9;
			padding: 20px;
			width: 100%;
			height: 50%;

			h2 {
				color: #f18200;
				font-family: Arial,sans-serif;
				font-size: 1.3rem;
				font-weight: 200;
				letter-spacing: 5px;
				margin: 0 0 15px;
				text-transform: uppercase;
				width: 100%;
			}

			#reviews-list {
				width: 100%;
				height: calc(100% - 30px);
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				overflow-y: scroll;

				article {
					background-color: #fff;
					border: 2px solid #f3f3f3;
					display: block;
					padding: 20px 20px 10px;
					margin: 0 0 20px;
					position: relative;
					width: 48%;

					p {
						margin: 0 0 10px;
					}
				}
			}
		}
	}


	#footer {
		width: 100%;
		height: 80px;
		background-color: #252831;
		text-align: center;
		color: #fff;
		padding: 10px;

		a {
			font-weight: 200;
			text-transform: uppercase;
		}
	}
}

@media (orientation: landscape) and (max-width: 1200px) {
	body {
		header {
			nav {
				height: 60px;

				h1 {
					a {
				  	font-size: 1.4rem;
					}
				}
			}
		}

		#maincontent {
			height: calc(100vh - 120px);

			#restaurants-list {
			  margin: 0;
			  padding: 0 0 0 10px;

				article {
					height: 90%;
					width: 18%;
					max-width: 300px;
					margin: 10px;
				  padding: 10px;

					h2 {
					  font-size: 1.2rem;
					 	margin: 10px 0;
					}

					a {
					  padding: 5px 10px;
					}
				}

				.spacer {
					width: 10px;
				}
			}
		}

		&.inside #maincontent {
			height: calc(100vh - 160px);
			padding: 0 20px 20px;

			#map-container {
				height: 55%;
				padding: 64px 20px 20px;
			}

			#restaurant-container {
				height: 55%;

				#restaurant-name {
					margin: 0 0 20px;
				}
			}

			#reviews-container {
				height: 45%;
			}
		}

		#footer {
			height: 60px;
		}
	}
}

@media (orientation: landscape) and (max-width: 800px), (min-aspect-ratio: 7/4) and (max-height: 800px) {
	body {
		font-size: 0.8rem;

		header {
			width: 60%;

			nav {
			  height: 40px;

				h1 {
					a {
					  font-size: 1rem;
					}
				}
			}

			#breadcrumb {
				padding: 10px 10px 15px;

				li {
					font-size: 10px;
				}
			}
		}

		#maincontent {
			height: calc(100vh - 80px);
			width: 60%;
			margin: 0;

			#map-container {
				position: fixed;
				top: 0;
				right: 0;
				height: 100%;
				width: 40%;
			}

			.filter-options {
				position: relative;
				top: auto;
				right: auto;
				width: 100%;
				height: 40px;
				padding: 10px;
				display: flex;
				justify-content: space-around;
				align-items: center;

				h3 {
					margin: 0;
				}

				select {
					height: auto;
					width: auto;
					margin: 0;
				}
			}

			#restaurants-list {
				height: calc(100% - 40px);
				padding: 5px;
				width: 100%;
				flex-direction: row;
				justify-content: center;
				align-content: flex-start;

				article {
					flex-wrap: wrap;
					justify-content: flex-start;
					height: 150px;
					width: 100%;
					max-width: 100%;
					margin: 0 0 5px 0;
					padding: 5px;

					.restaurant-img {
						height: 100%;
						width: auto;
						margin: 0;
						order: 1;
					}

					h2 {
						font-size: 1.2rem;
						margin: 0 0 5px;
						width: calc(100% - 190px);
					}

					p {
						width: calc(100% - 190px);
					}

					a {
						border-bottom: none;
						width: calc(100% - 190px);
						margin: auto 0 0;
						padding: 5px;
					}
				}

				.spacer {
					display: none;
				}
			}
		}

		&.inside #maincontent {
			height: calc(100vh - 120px);
			padding: 10px;
			overflow-y: scroll;

			#map-container {
				height: 100%;
				padding: 0;
				border-bottom: none;
			}

			#restaurant-container {
				padding: 0px;
				width: 100%;
				height: auto;

				.restaurant-content {
					width: 100%;
					height: auto;

					#restaurant-img {
						width: 60%;
						height: auto;
					}

					#restaurant-cuisine {
						width: 60%;
					}

					#restaurant-address {
						margin: 10px 0;
					}

					#restaurant-hours {
						margin: 10px 0;
					}
				}
			}

			#reviews-container {
				padding: 10px 0;
				height: auto;

				h2 {
					margin: 0 0 10px;
				}

				#reviews-list {
					height: auto;

					article {
						padding: 10px 10px 0;
						margin: 0 0 10px;
						width: 100%;
					}
				}
			}
		}

		#footer {
			height: 40px;
			width: 60%;
			font-size: 0.8rem;
		}
	}
}

@media screen and (orientation: portrait) {
	body {
		#maincontent {
			#map-container {
				height: calc(50% - 60px);
			}

			.filter-options {
					position: relative;
					width: 100%;
					height: 60px;
					top: 0;
					right: 0;
					padding: 10px 30px;
					display: flex;
					justify-content: center;
					align-items: center;

				h3 {
					margin: 0 10px;
					font-size: 1.5rem;
				}

				select {
					margin: 0 10px;
					padding: 0;
					width: auto;
					height: 30px;
				}
			}

			#restaurants-list {
				padding: 15px;
				flex-direction: row;
				justify-content: space-between;

				article {
					width: 45%;
					max-width: 45%;
					height: 35%;
					max-height: 200px;
					padding: 15px;
					flex-wrap: wrap;
					justify-content: space-between;
					align-content: space-between;

					.restaurant-img {
						width: 45%;
						height: auto;
						order: 1;
						margin-top: auto;
					}

					h2 {
						width: 45%;
						margin: 0;
						font-size: 1.2rem;
					}

					p {
						width: 45%;
					}

					a {
						width: 45%;
						margin: 0;
						padding: 5px 10px;
						border-bottom: 0;
					}
				}

				.spacer {
					display: none;
				}
			}
		}

		&.inside #maincontent {
			padding: 20px;

			#map-container {
				height: 60%;
				width: 50%;
				padding-bottom: 50px;
			}

			#restaurant-container {
				height: 60%;
				width: 50%;
				flex-direction: column;

				.restaurant-content {
					width: 100%;

					#restaurant-img {
						width: 80%;
					}

					#restaurant-cuisine {
						margin: 0 0 10px;
						width: 80%;
					}

					#restaurant-address {
						margin: 10px 0;
					}

					#restaurant-hours {
						margin: 10px 0;
					}
				}
			}

			#reviews-container {
				height: 40%;
			}
		}
	}


	@media screen and (max-width: 999px) {
		* {
			font-size: 10px;
		}

		body {
			#maincontent {
				#restaurants-list {
					padding: 10px;

					article {
						margin: 10px;
						width: 47%;
						max-width: 47%;
					}
				}
			}
		}
	}

	@media screen and (max-width: 799px) {
		body {
			#maincontent {
				height: calc(100vh - 120px);
			}

			&.inside #maincontent {
				height: calc(100vh - 160px);
				padding: 0 20px 20px;
			}

			#footer {
				height: 60px;
			}
		}
	}

	@media screen and (max-width: 699px) {
		* {
			font-size: 10px;
		}

		body {
			#maincontent {
				#restaurants-list {
					padding: 20px;

					article {
						margin: 10px 0;
						width: 100%;
						max-width: 100%;
						height: 40%;

						.restaurant-img {
							height: 100%;
							width: auto;
						}
					}
				}
			}

			&.inside #maincontent {
				#map-container {
					padding-top: 50px;
					height: 65%;
				}

				#restaurant-container {  //mixin? -> reviews-container
						height: 65%;
						position: relative;
						padding-top: 50px;

						#restaurant-name {
							position: absolute;
							top: 20px;
							left: 20px;
							width: calc(100vw - 80px);
						}

						.restaurant-content {
							#restaurant-hours {
								margin: 0;
							}
						}
					}

				#reviews-container {
						height: 35%;

						#reviews-list {
							article {
								width: 100%;
							}
						}
					}

				#footer {
					height: 60px;
				}
			}
		}
	}

	@media screen and (max-width: 499px) {
		body {
			header {
				nav {
					height: 50px;

					h1 {
						a {
							font-size: 1rem;
						}
					}
				}

				#breadcrumb {
					padding: 10px 10px 15px;
				}
			}

			#maincontent {
				height: calc(100vh - 100px);

				.filter-options {
					h3 {
						font-size: 1.2rem;
					}

					select {
						font-size: 1rem;
					}
				}

				#restaurants-list {
					padding: 10px;

					article {
						margin: 0 0 10px;
						padding: 10px;
						width: 100%;
						max-width: 100%;
						height: 150px;

						.restaurant-img {
							height: 100%;
							width: auto;
						}

						h2 {
							width: 40%;
						}

						p {
							width: 40%;
						}

						a {
							width: 40%;
						}
					}
				}
			}

			&.inside #maincontent {
				padding: 0 10px 10px;
				height: calc(100vh - 140px);
				overflow-y: scroll;

				#map-container {
					height: 40vh;
					width: 100%;
					padding: 10px 0;
				}

				#restaurant-container {
					height: auto;
					width: 100%;
					padding: 10px 0;

					#restaurant-name {
						position: relative;
						top: auto;
						left: auto;
						margin: 0 0 10px;
					}

					.restaurant-content {
						#restaurant-img {
							width: 80%;
						}

						#restaurant-cuisine {
							width: 80%;
						}
					}
				}

				#reviews-container {
					height: auto;
					padding: 10px 0;

					#reviews-list {
						article {
							padding: 10px 10px 0;
						}
					}
				}
			}

			#footer {
				height: 50px;
			}
		}
	}
}
